*{
    margin: 0;
    padding: 0;

}
/* 62.5% equivalent 10 pixel */
html{
    font-size: 62.5%;
    background-color: red;
}
body{
    width: 100%;   
    max-width: 1200px;
    margin: auto;
} 
/* font family */
@font-face {
    font-family: 'Dosis_Bold';
    src: url('/font/Dosis_Bold.ttf');
}
@font-face {
    font-family: 'Carnas_Extra_Bold';
    src: url('/font/Carnas_Extra_Bold.otf');
}
@font-face {
    font-family: 'Roboto_Black';
    src: url('/font/Roboto/Roboto-Black.ttf');
}
@font-face {
    font-family: 'Roboto_Bold';
    src: url('/font/Roboto/Roboto-Bold.ttf');
}
@font-face {
    font-family: 'Roboto_Light';
    src: url('/font/Roboto/Roboto-Light.ttf');
}
@font-face {
    font-family: 'Roboto_Medium';
    src: url('/font/Roboto/Roboto-Medium.ttf');
}
@font-face {
    font-family: 'Roboto_Regular';
    src: url('/font/Roboto/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'Roboto_Thin';
    src: url('/font/Roboto/Roboto-Thin.ttf');
}

/* Navigation */
.nav-flexbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 7vh;
    background-color: #042240;
    padding-left: 1rem;
    padding-right: 1rem;
}
.nav-img{
    width: 45px;
    height: 45px;
    border-radius: 15px;
}
.nav-ul{
    display: flex;
    list-style: none;
}

.nav-ul a, .nav-search{
    font-family: 'Dosis_Bold';
    text-decoration: none;
    font-size: 2rem;
    margin: 1rem;
    color: white;
}
.nav-ul a:hover{
    color: white;
}
.nav-search input{
    height: 3vh;
    width: 15vw;
    border: none;
}
.nav-search input:focus{
    outline: none;
    background-color: #dfe;
    border: 0;
}
.nav-flexbox ul li{
    position:relative;
  float:left;
}
.nav-flexbox ul li:hover {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background:white;
    
   }
.nav-ul a{
    color: #76AADA;
}
.nav-ul a:hover{
    color: #76AADA;
} 

/* menu desplegable */
  
.nav-flexbox ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#eee;
    padding:0;
   }
   
/* items del menu desplegable */
   
.nav-flexbox ul ul li {
    float:none;
    width:100%;
}
   
/* enlaces de los items del menu desplegable */
   
.nav-flexbox ul ul a {
    line-height:120%;
    padding:10px 15px;
}

/* items del menu desplegable al pasar el ratón */
   
.nav-flexbox ul li:hover > ul {
    display:block;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.nav-ul li ul li:hover{
    background-color: #DFDEDF;
    border-radius: 0px;
    border-end-start-radius: 15px;
    border-end-end-radius: 15px;
}
/* Section Maximiliano */

.section-flexbox-two{
    width: 100%;   
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
}
.section-flexbox-two p{
    text-align: center;
    font-family: 'Roboto_Bold';
    font-size: 3rem;
    color: white;
}

.section-flexbox-two-content{
    display: flex;
    justify-content: space-around;
}
.section-flexbox-two-title{
    margin: 25px;
    font-family: 'Roboto_Bold';
    font-size: 4rem;
    color: white;
}
.section-flexbox-two-image{
    width: 28vw;
    height: 35vh;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin: 20px;
}
.section-flexbox-two-content-image{
    font-family: 'Carnas_Extra_Bold';
    font-size: 1rem;
}
.section-container{
    width: 100%;   
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
.section-container .card{
    width: 330px;
    height: 430px;
    border-radius: 15px;
    box-shadow: 0 2px 2px rgba(0,0,0,0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0,25s;
    background-color: white;
}
.section-container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(255, 255, 255, 0.7);
}

.section-container .card img{
    width: 330px;
    height: 220px;
    border-radius: 15px;
}

.section-container .card h4{
    font-family: 'Roboto-Medium';
    font-size: 3rem;
    font-weight: 600;
    color: black;
}

.section-container .card p{
    padding: 1rem 2rem;
    font-family: 'Roboto-Medium';
    font-size: 16px;
    font-weight: 300;
    text-align: justify;
    color: black;
}

.section-container .card a{
    font-weight: 500;
    text-decoration: none;
    color: black;
}


.section-container-zoom{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 400px;

}
.section-container-zoom figure{
    width: 320px;
    height: 250px;
    overflow: hidden;
    transition: all 500ms ease;
    border-radius: 15px;
    box-shadow: 1px 5px 10px rgba(255,255, 255, 0.20);
}
.section-container-zoom figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease;
    border-radius: 15px;
}
.section-container-zoom figure img:hover{
    transform: scale(1.2);
    cursor: pointer;
}

.section-container-zoom-title{
    position: absolute;
    margin-top: 10px;
    font-family: 'Roboto-Regular';
    color: white;
    font-size: 2rem;
    width: 320px;
}
.section-container-stadium-zoom{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    height: 400px;
}
.section-container-stadium-zoom figure{
    width: 320px;
    height: 400px;
    overflow: hidden;
    transition: all 500ms ease;
    border-radius: 15px;
    box-shadow: 1px 10px 15px rgba(0,0, 0, 0.50);
    
}
.section-container-stadium-zoom figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease;
    border-radius: 15px;
}
.section-container-stadium-zoom figure img:hover{
    transform: scale(1.2);
    /* cursor: pointer; */
}
.section-container-zoom-stadium-title{
    position: absolute;
    font-weight: 900;
    font-size: 4rem;
    width: 320px;
    color: white;
    margin-top: -100px;
    text-align: center;
    white-space: normal;
    background: linear-gradient(180deg,transparent,#020f2a);
    height: 100px;
/*     -webkit-text-fill-color: white;
    -webkit-text-stroke: 1px #5A002B; */
}


/* Carousel */
.carousel {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    margin-top: 40px;

}
#imagen {
    width: 100%;
    height: 400px;
    background-size: cover;
    border-radius: 15px;
}

.section-video-maps{
    display: flex;
    justify-content: space-around;

}

.section-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: #042240;
    padding-left: 1rem;
    padding-right: 1rem;
}
.text-footer{
    font-family: 'Roboto-Bold';
    font-size: 4rem;
    color: white;
}
.copyRight{
    font-family: 'Roboto-Regular';
    font-size: 1rem;
    color: white;
}
.social-media{
    color: white;
}
.social-media a{
    text-decoration: none;
    color: white;
}
.social-media i{
    font-size: 18px;
}
.rowHeader{
    color: white;
    height: 10vh;
    background-color: #042240;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}
.rowHours{
    display: flex;
    justify-content: space-between;
    width: 280px;
    font-size: 16px;
}
.rowWeather{
    display: flex;
    justify-content: space-between;
    width: 400px;
}
.temperture, .tempertureCatar{
    display: flex;
    align-items: center;
}
.locationIconAnimated{
    width: 45px;
    height: 45px;
}
.section-division{
    margin-bottom: 10vh;
    width: 96.7%;
    max-width: 1200px;
}

/* Animation */
@keyframes go-left-right {        
    from { left: 0px; }             
    to { left: calc(100% - 50px); } 
}

.progress {
    margin-top: 35px;
    animation: go-left-right 9s infinite alternate;
    position: relative;
    width: 90px;
    height: 60px;
}


/* Gabriel */


@keyframes ejemploColor{
    from{background-color:yellow;}
    to{background-color: cornflowerblue;}
}
.grid_container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(45vh, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(rem, 1fr));
    /* background-color: aliceblue; */
    color: white;
    max-width: 1400px;
    column-gap: 1rem;
    align-items: center;


    
 
}
.imagen_cont{
border-radius: 3px;
height: 25vh;
width:  53vh;
margin-top: 1em;
margin-left: 2rem;

}

.flex_cab{
    display: flex;
    align-items: center;
   justify-content: center;
   border-radius: 15px;

}
.imagen_header{
    border-radius: 15px;
    height: 30vh;
    width:  124vh;
    flex: 1 1 auto;

    }
    

   
    .grid_content_aloja{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(100rem, 1fr));
        grid-template-rows: repeat(auto-fit, minmax(5rem, 1fr));
        background-color: aliceblue;
        max-width: 1200px;
        margin: auto;
        column-gap: 6rem; 
    }
    
    .grid-container-1{
        display: flex;
  
        margin-left: 10rem;
        /*border: 1px solid;*/
        align-items: stretch; 
        grid-template-columns: auto auto;

            
    }

  
    @media only screen and (max-width: 1500px) {
        .grid-container-1 {
          grid-template-columns: 1fr;
        }
    }
    
      /* Max width 50% and height: auto for responsive image that takes up 50% of width */
      .img-tarjeta {
        border-radius: 15px;
        height: 30vh;
        width:  60vh;
        margin-top: 1em;
        margin-right: 20rem;

        object-fit: cover;
        max-width: 30rem;
      }
     
      h2{text-align: center; }
    
      .caja_img{
        width: 20rem;
       border-radius: 15px;
       flex: 1 1 auto;
      }
       
       .caja_text {
        margin-right: 10rem;
        width: 50rem;
        flex: 1 1 auto;
        color: white;

        
       } 

    

   
   
h3{
    font-size: 1.875em; /* 30px/16=1.875em */
}



.button-cont {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    height: 4vh;
    width:  53vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 2rem;
    margin-bottom: 2rem;
  }

  @media screen and (max-width: 500px) {
    .caja_img{
        width: 12rem;
       border-radius: 15px;
       flex: 1 1 50%;
      }
       
       .caja_text {
        width: 40rem;
        flex: 1  auto;
        font-size: 1vw;
        
       } 

       .img-tarjeta {
        border-radius: 15px;
        height: 7vh;
        width:  15vh;
        margin-top: 1em;
        object-fit: cover;
        max-width: 6rem;
   
      }
      .grid-container-1{
        display: flex;
        margin-left: 5rem;
  
        /*border: 1px solid;*/
        align-items: stretch; 
        grid-template-columns: auto auto;

            
    }

    .imagen_header{
        border-radius: 15px;
  
        max-width: 24rem;
        max-height: 3rem;
      
    
        }

        
  }
  @media screen and (min-width:501px) and (max-width:1000px) {
    .caja_img{
     width: 30rem;
    border-radius: 15px;
    flex: 1 1 auto;
   }
 }


     
/* Richard */

.messi{
    margin-top: 20px;
/*     padding: 2rem; */
    width: 62%;
    height: 40vh;
    object-fit: fill;
    border-radius: 15px;
    /* justify-content: center; */
 }

 @font-face {
    font-family: 'com';
    font-style: normal;
    font-weight: 200;
    src: url('/font/Computerfont.ttf');
}

.flex{
    max-width: 1264px;
    margin: 5px auto 5px auto;
    position: relative;
}
.flex-containe{
    display: flex;
/*     width: 10%;
    height: 10%; */
    justify-content: center;
/*     position: fixed; */
/*     opacity: relative; */
}
.flex-containe1{
    display: flex;
    padding: 8rem;
}
.flex-containe2{ 
    border-radius: 15px;
/*     width: 95%; */
/*     height: 92%; */
    border: solid;
    /* color: blue; */
    animation-name: coloranimado;
    animation-duration: 30s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    padding: 2rem;
}
@keyframes coloranimado{
    from{background-color: rgb(64, 200, 224);}
    to{background-color: rgb(44, 142, 35);}

}
.grid-containe3{
    display: grid;
    grid-template-columns: 30rem 30rem 30rem 30rem;
    grid-template-rows: 19rem 19rem;
    /* column-gap: 2rem; */
    column-gap: 0rem;
}
.texto{
    color: floralwhite;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: 'Roboto-Bold';
}
#texto1{
    color: white; /* rgb(255, 102, 0); */
    font-size: 3.6rem;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: 'Roboto-Bold';
    text-align: center;
}
.texto2, .textContact{
    
    color: white; /* indigo; */
    font-size: 2.5rem;
    margin: auto;
    padding: 3px;
    text-align: center;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-ser */
    font-family: 'Roboto-Bold';
    margin: 20px;
}
.img-fantasmita{
    display: flex; 
    height: 35vh;
}
.img-ficturi{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 5px;
   align-items: center;
   justify-items: center;
}
video{
    width: 38vh;
    height:28vh
}
.favicom{
    display: flex;
    height: 15vh;
    width: 15vh;
    border-radius: 10px;
    opacity: 0.5; 
}
.borde{
    border-radius: 15px;
    flex-direction: column;
}
.borde1{
    border-radius: 15px;
    height: 30vh;
    width: 35vh;  
}
.estadio{

    display: flex;
    align-self: center;
    /* align-items: stretch; */
    /* align-content: center; */
    justify-content: center;
 }
.flex4{
    display: flex; 
}
.menu1{
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 90%;
    margin: 25px;
    padding: 15px; 
    border: solid;
    background-color: coral;
}
/*.alineado{
    display: flex;
    float: left;
    background: none;
    margin-right: 2%;
    margin-bottom: 1%;
}*/
.viaje{
    display: flex;
    color: white;
    font-size: 35px;
    /* font-family:'com' */
    font-family: 'Roboto-Bold';
    font-weight: 900;
    
}
.logito{
    display: flex;
    width: 80px;
    height: 80px;  
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 15px;
  }
  .img-estadio{
      width: 96%;
      border-radius: 15px;
  }

.section-contact{
    display: flex;
}
.textContact{
    max-width: 50%;
    width: 50%;
    text-align: justify;
}
.form-contact{
    max-width: 50%;
	width:50%;
	padding:16px;
	border-radius:10px;
	margin:auto;
    font-family: 'Roboto';
    font-size: 20px;
    color: black;
	background-color:#ccc;
    margin-right: 17px;
}

.form-contact label{
	width:72px;
	font-weight:bold;
	display:inline-block;
    padding-right: 20px;
}

.form-contact input[type="text"],
.form-contact input[type="email"]{
    width: 381px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:6px;
	background-color:#f6f6f6;
	margin:12px 0;
	display:inline-block;
}

.form-contact input[type="submit"]{
	width:100%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #000;
	border-radius:6px;
	display:block;
	color:#fff;
	background-color:#000;
} 

.form-contact input[type="submit"]:hover{
	cursor:pointer;
}

textarea{
	width:100%;
	height:100px;
	border:1px solid #f6f6f6;
	border-radius:6px;
	background-color:#f6f6f6;			
	margin:8px 0;
	/*resize: vertical | horizontal | none | both*/
	resize:none;
	display:block;
}

.contentMain{
    
}
.imgContentMain, .imgContentSecond{
    margin: 30px;
    border-radius: 15px;
}
.imgContentMain{
    width: 600px;
    height: 400px;
}
.imgContentSecond{
    width: 300px;
    height: 200px;
}
.titleCntentMain{
    color: white;
    font-family: 'Roboto-Bold';
    font-weight: 900;
    text-align: center;
    font-size: 30px;
}
.contentSecond, .contentThree{
    display: flex;
    align-items: center;
}
.contentOne, .textContentSecond{
    color: white;
    font-family: 'Roboto-Light';
    text-align: justify;
    padding: 30px;
    font-size: 20px;
}
.textContentSecond{
    display: flex;
}

.how-are{
    padding: 50px 50px;
    color: white;
    font-family: 'Roboto-Medium';
    font-size: 20px;
    text-align: justify;
}
.how-are ul li{
    list-style: none;
}
.how-are ul li::before{
    content: "\f00c"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.3em;
  width: 1.3em;
}



/* @media screen and (min-width:180px) and (max-width:479px) {
    .nav-search{
        display: none;
    }
}
 */

/* media query */
@media screen and (min-width:480px) and (max-width:779px) {

    .nav-search{
        display: none;
    }
    header{
        display: flex;
        flex-direction: column;
        align-items: self-end;
    }
    .nav-flexbox{
        /* background-color: white; */
        margin: auto;
        width: 100%;
        background-color: transparent;
    }
    .nav-ul{
        margin-right: 10px;
    }
    .rowHeader{
        width: 100%;
        font-size: 9px;
        justify-content: space-around;
        height: 11vh;
        margin: auto;
        background-color: transparent;
    }
    .rowHours{
        width: 70px;
        font-size: 9px;
        margin-top: 20px;
    }
    .rowWeather{
        width: 200px;
        margin-top: 5px;
    }
    .section-division{
        display: none;
    }
    .section-carousel{
        width: 450px;
        margin: auto;
    }
    .section-container{
        position: relative;
    }
    .section-flexbox-two{
        margin-top: 124vh;
    }
    .section-flexbox-two-image{
        height: 13vh;
    }
    .section-container-zoom{
        margin-top: 30px;
        display: block;
        height: 850px;
    }
    .section-container-zoom figure{
        margin: auto;
    }
    .section-container-zoom-title{
        display: none;
    }
    .section-container-stadium-zoom{
        display: none;
    }
    .section-video-maps{
        display: block;
        text-align: center;
    }
    .imagen_cont{
        width: 440px;
    }
    .button-cont{
        width: 440px;
    }
    .flex-containe1{
        display: block;
    }
    .borde{
        max-width: 320px;
    }
    .texto{
        text-align: justify;
    }
    .section-video-maps{
        margin-bottom: 20px;
    }
    .videoFuturista{
        display: none;
    }
    .grid-containe3{
        display: block;
        width: 400px;
        margin: auto;
    }
    .estadio{
        margin-bottom: 20px;
    }
    .whatsapp, .facebook, .twitter, .instagram, .gmail, .telegrtam{
        width: 20px;
        height: 20px;
    }
    .logito {
        width: 50px;
        height: 65px;
    }
    .viaje{
        font-size: 20px;
    }
}

/* @media screen and (orientation:landscape) and (max-width:780px) {
    
} */



@media screen and (min-width:781px) and (max-width:992px) {
    
    header{
        display: flex;
        flex-direction: column;
        align-items: self-end;
    }
    .nav-flexbox{
       /*  background-color: white; */
        margin: auto;
        background-color: transparent;
    }
    .nav-ul{
        margin-right: 10px;
    }
    .rowHeader{
        width: 68%;
        margin: auto;
        font-size: 17px;
        justify-content: space-around;
        height: 11vh;
        background-color: transparent;
    }
    .rowHours{
        width: 150px;
        font-size: 16px;
        margin-top: 3px;
    }
    .rowWeather{
        width: 100%;
        margin-top: -4px;
    }
    .section-container .card, .section-container .card img{
        width: 360px;
    }
    .section-division{
        display: none;
    }
    .section-carousel{
        width: 73%;
        margin: auto;
    }
    
    .section-container{
        position: relative;
    }
    .section-flexbox-two{
        margin-top: 100vh;
    }
    .section-flexbox-two-image{
        height: 13vh;
    }
    .section-container-zoom{
        margin-top: 30px;
        display: block;
        height: 850px;
    }
    .section-container-zoom figure{
        margin: auto;
    }
    .section-container-zoom-title{
        display: none;
    }
    .section-container-stadium-zoom{
        display: none;
    }
    .section-video-maps{
        display: block;
        text-align: center;
    }
    .imagen_cont{
        width: 440px;
    }
    .button-cont{
        width: 440px;
    }
    .flex-containe1{
        display: block;
    }
    .borde{
        max-width: 320px;
    }
    .texto{
        text-align: justify;
    }
    .section-video-maps{
        margin-bottom: 20px;
    }
    .videoFuturista{
        display: inline;
    }
    .videoFuturista{
        width: 26vh;
        margin-right: -14px;
    }
    .grid-containe3{
        display: block;
        width: 400px;
        margin: auto;
    }
    .estadio{
        margin-bottom: 20px;
    }
    .whatsapp, .facebook, .twitter, .instagram, .gmail, .telegrtam{
        width: 40px;
        height: 40px;
    }
    .logito {
        width: 77px;
        height: 76px;
    }
    .viaje{
        font-size: 29px;
    }
    .iframe{
        margin-bottom: 20px;
    }
    .grid_container{
        display: block;
        text-align: center;
    }
    .img-fantasmita{
        margin-left: 150px;
    }
    .borde1{
        width: 29vh;
        height: 27vh;
    }
}

#tableEdit{
    font-size: 20px;
    border: 1px solid black;
}    
#titleNew{
    font-size: 20px;
    color: white;
    margin-top: 20px;
}

#tableMaria{
    border: 4px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
}